Data/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/test"
    xmlns="http://example.com/test"
    version="1.0"
    elementFormDefault="qualified">

    <xs:element name="foo" type="fooType" />

    <xs:complexType name="fooType">
        <xs:sequence>
            <xs:element name="bar" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>